{% extends "minimalism/base.html" %}

{% block title %}HOME{% endblock %}

{% block script %}
<script src="https://accounts.google.com/gsi/client" async></script>
{% endblock %}

{% block bar-option %}
{% if user.is_authenticated %}
<div>
  <p>{{ user.first_name }}, <a href="/sign-out"><ins class="blue">Sign out</ins></a></p>
</div>
{% else %}
<div>
  <div id="g_id_onload"
    data-client_id="{{ google_client_id }}"
    data-context="signin"
    data-ux_mode="popup"
    data-login_uri="http://localhost:8000/auth-receiver"
    data-auto_prompt="false">
</div>

  <div class="g_id_signin" data-type="standard" data-shape="rectangular" data-theme="outline" data-text="signin"
    data-size="medium" data-logo_alignment="left">
  </div>
</div>
{% endif %}
{% endblock %}

{% block content %}
<div class="welcome">
  <h1>ยินดีต้อนรับ, คุณเป็นอย่างไรบ้าง?</h1>
  <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Suscipit inventore perferendis qui possimus cupiditate
    fugiat dolor iure nesciunt aliquid saepe!</p>
</div>
{% endblock %}
